[mysqld]
bind-address = 0.0.0.0
port = 3306

# Réglages de performance
innodb_buffer_pool_size = 1G
max_connections = 150

# Sécurité
sql_mode = STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION

# Logging
general_log = 1
general_log_file = /var/log/mysql/mysql.log
